{% extends 'common.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card m-2">
                    <img class="card-img-top img-responsive"
                         src="{{ searched_movie.poster }}"
                         alt="Woody Harrelson, Dennis Quaid, Aaron Eckhart, Mandy Moore, Etsushi Toyokawa, Patrick Wilson, Luke Evans, Nick Jonas, and Ed Skrein in Midway (2019)"
                         height="250" width="40">
                    <div class="card-body">
                        <h5 class="card-title">{{ searched_movie.title }}</h5>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted text-info btn btn-warning m-2">Ratings
                            <span>{{ searched_movie.rating }}</span></small>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card mt-3 bg-dark text-white" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Official Trailer</h5>
                        <h6 class="card-subtitle mb-3 text-white text-muted ">{{ searched_movie.title }}</h6>
                        <p class="card-text text-justify">{{ searched_movie.plot }}</p>
                        <a href="{{ searched_movie.trailer }}" class="card-link btn btn-warning">Watch trailer Here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
